/* /__ File: static/css/app.css / */
a,
a:focus,
a:hover {
  color: #fff;
}

.btn-primary {
  margin-bottom: 1rem;
}

form-control {
  width: 90%;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  background-color: #fff;
  border: 0.05rem solid #fff;
}

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  background: url(../img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 2rem;
}

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

.chatbubble {
  position: fixed;
  bottom: 0;
  right: 30px;
  transform: translateY(300px);
  transition: transform 0.3s ease-in-out;
}

.chatbubble.opened {
  transform: translateY(0);
}

.chatbubble .unexpanded {
  display: block;
  /*background-color: #10CAE8;*/
  background-image: linear-gradient(90deg, #33edf8, #26c7fa);
  padding: 10px 15px 10px;
  position: relative;
  cursor: pointer;
  width: 350px;
  border-radius: 10px 10px 0 0;
}

.chatbubble .expanded {
  height: 300px;
  width: 350px;
  background-color: #eee;
  text-align: left;
  padding: 10px;
  color: #333;
  text-shadow: none;
  font-size: 14px;
}

.chatbubble .chat-window {
  overflow: scroll;
  padding-bottom: 50px;
}

.chatbubble .loader-wrapper {
  margin-top: 50px;
  text-align: center;
}

.chatbubble .messages {
  display: none;
  list-style: none;
  margin: 0 0 50px;
  padding: 0;
}

.chatbubble .messages li {
  width: 85%;
  float: left;
  padding: 10px;
  border-radius: 5px 5px 5px 0;
  font-size: 14px;
  /*background: #10CAE8;*/
  background-image: linear-gradient(90deg, #33edf8, #26c7fa);
  margin-bottom: 10px;
}

.chatbubble .messages li .sender {
  font-weight: 600;
}
.chatbubble .title {
  color: black;
}
.chatbubble .btn-primary {
  background-image: linear-gradient(90deg, #33edf8, #26c7fa);
  color: black;
  height: 50px;
  border-color: transparent;
}

.chatbubble .form-control::placeholder {
  color: grey;
}

.chatbubble .btn-primary:hover {
  color: black;
  border-color: transparent;
}

.chatbubble .messages li.support {
  float: right;
  text-align: right;
  color: #fff;
  /*background-color: #e33d3d;*/
  background-image: linear-gradient(90deg, #ff5619, #fb915f);
  border-radius: 5px 5px 0 5px;
}

.chatbubble .chats .input {
  position: absolute;
  bottom: 0px;
  padding: 0px;
  left: 0;
  width: 100%;
  background: #f0f0f0;
  display: none;
}

.chatbubble .chats .input .form-group {
  width: 80%;
  bottom: 0px;
}

.chatbubble .chats .input input {
  width: 100%;
  margin-bottom: 0;
}

.chatbubble .chats .input button {
  width: 20%;
}

.chatbubble .chats {
  display: none;
}

.chatbubble .login-screen {
  margin-top: 20px;
  display: none;
}

.chatbubble .chats.active,
.chatbubble .login-screen.active {
  display: block;
}

/_ Loader Credit: https://codepen.io/ashmind/pen/zqaqpB _/
.chatbubble .loader {
  color: #e23e3e;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 10vh;
  opacity: 0.8;
}

.chatbubble .loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
  animation: pulse 0.4s alternate infinite ease-in-out;
}

.chatbubble .loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
}

@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.5;
  }
}
